/* BARRA IZQ */
.section_bar-left{
    width: 35px;
    top: 35%;
    position: fixed;
}

.icons_bar_left{
    list-style: none;
    font-family: var(--Font-Chakra);
}

.icons_bar__item{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.icons_bar_size{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

/* COLORES DE LOS LOGOS DE REDES SOCIALES */
.icon_color-type1{
    background-color: var(--Back-facebook);
    padding: 5px 5px 1px 2px;
    border: solid;
    border-color: transparent;
    border-radius: 0 20px 0 0;
    transition: 0.5s;
}

.icon_color-type2{
    background-color: var(--Back-twitter);
    padding: 5px 5px 1px 2px;
    border: solid;
    border-color: transparent;
    border-radius: 0;
    transition: 0.5s;
}

.icon_color-type3{
    background-image: var(--Back-instragram);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px 5px 1px 4px;
    /* border: solid; */
    border-color: transparent;
    border-radius: 0;
    transition: 0.5s;
}

.icon_color-type4{
    background-color: var(--Back-youtube);
    padding: 5px 5px 1px 2px;
    border: solid;
    border-color: transparent;
    border-radius: 0;
    transition: 0.5s;
}

.icon_color-type5{
    background-color: var(--Back-tiktok);
    padding: 5px 5px 1px 2px;
    border: solid;
    border-color: transparent;
    border-radius: 0;
    transition: 0.5s;
}

.icon_color-type6{
    background-color: var(--Back-correo);
    padding: 5px 5px 1px 2px;
    border: solid;
    border-color: transparent;
    border-radius: 0 0 20px 0;
    transition: 0.5s;
}

/* COLORES DE LOS LOGOS DE REDES SOCIALES */

.icons_bar__link{
    text-decoration: none;
}

/* BARRA IZQ */    
.icons_bar__item{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
}

/* BARRA IZQ */
.icons_bar__link{
    position: relative;
    left: 20%;
}
/* BARRA IZQ */   
@media (min-width: 830px) {

    
    /* AL PASAR EL CURSOR POR LAS REDES */
    .icon_color-type1:hover{
        width: 60px;
        transition: 0.5s;
    }

    .icon_color-type2:hover{
        width: 60px;
        transition: 0.5s;
    }
    .icon_color-type3:hover{
        width: 60px;
        transition: 0.5s;
    }
    .icon_color-type4:hover{
        width: 60px;
        transition: 0.5s;
    }
    .icon_color-type5:hover{
        width: 60px;
        transition: 0.5s;
    }
    .icon_color-type6:hover{
        width: 60px;
        transition: 0.5s;
    }
/*----------------------------------------*/
}