<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techno Universe</title>

    <link rel="stylesheet" href="../css/styles-contacto.css">

</head>
<body>
    <main class="root_main">
        <!-- HEAD -->
        <header class="header_main">
            <!-- "Nav" va por obligacion porque es regla para una barra de navegacion -->
            <nav class="nav-bar">
                <div class="nav-bar__content">
                    <!-- LOGO -->
                    <div class="nav-bar__logo-container">
                        <a href="/" class="nav-bar__link-logo">
                            <img src="../assets/mi_logo.svg" alt="logo no disponible" class="nav-bar__img-logo">
                        </a>
                    </div>
                    <!-- Menu de navegacion de las opciones -->
                    <div class="nav-bar__collapse from-right">
                        <!-- Opciones basicas del menu -->
                        <div class="nav-bar__menu-container">
                            <ul class="menu">
                                <li class="menu__item">
                                    <a href="index.html" class="menu__link">
                                        Inicio
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a href="/sistem.html" class="menu__link">
                                        Sistema
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a href="diseno.html" class="menu__link">
                                        Diseño
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a href="portaf.html" class="menu__link">
                                        Portafolios
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a href="horario.html" class="menu__link">
                                        Horarios
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a href="contacto.html" class="menu__link">
                                        Contacto
                                    </a>
                                </li>
                            </ul>
                        </div>
                     <!-- Opciones principales login y registro -->
                        <div class="nav-bar__options-container">
                            <a href="login.html" class="nav-bar__link-login icon-login">Login</a>
                            <a href="registro.html" class="nav-bar__link-register icon-register">Registro</a>
                        </div>
                    </div>
                    <!-- Icono del menu -->
                    <div class="nav-bar__icon icon-bars">
                        <img src="../assets/menu.svg" alt="" class="logo-bar">
                    </div>
                </div>
            </nav>
        </header>
        <!-- HEAD -->
        <!-- BODY -->
        <!-- BARRA SOCIAL -->
        <section class="section_bar-left">                
            <div class="bar-left_icons">
                <ul class="icons_bar_left">
                    <li class="icons_bar__item icon_color-type1">
                        <a href="#" target="_blank" class="icons_bar__link">
                            <img src="../assets/redes/facebook.svg" alt="fac" class="icons_bar_size">
                        </a>
                    </li>
                    <li class="icons_bar__item icon_color-type2">
                        <a href="#" target="_blank" class="icons_bar__link">
                            <img src="../assets/redes/twitter.svg" alt="twi" class="icons_bar_size">
                        </a>
                    </li>
                    <li class="icons_bar__item icon_color-type3">
                        <a href="#" target="_blank" class="icons_bar__link ">
                            <img src="../assets/redes/instagram.svg" alt="ins" class="icons_bar_size">
                        </a>
                    </li>
                    <li class="icons_bar__item icon_color-type4">
                        <a href="#" target="_blank" class="icons_bar__link">
                            <img src="../assets/redes/youtube.svg" alt="you" class="icons_bar_size">
                        </a>
                    </li>
                    <li class="icons_bar__item icon_color-type5">
                        <a href="#" target="_blank" class="icons_bar__link">
                            <img src="../assets/redes/tiktok.svg" alt="tik" class="icons_bar_size">
                        </a>
                    </li>
                    <li class="icons_bar__item icon_color-type6">
                        <a href="#" target="_blank" class="icons_bar__link">
                            <img src="../assets/redes/gmail.svg" alt="cor" class="icons_bar_size">
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- BARRA SOCIAL -->
        <section class="body_container">
            <div class="body_container1">
                <h1 class="title">Proximamente...</h2>
            </div>
        </section>
        <!-- DIVISOR -->
        <div class="division"></div>
        <!-- DIVISOR -->
        <!-- BODY -->
        <!-- PIE -->
        <footer class="footer_main">
            <main class="main-footer">
                <section class="footer-container">
                    <p class="fot-datos">TechnoUniverse. Empresa Virtual.</p>
                    <p class="fot-datos sop">Soporte:</p>
                    <a href="mailto:technouniverse97@gmail.com" class="fot-datos">technouniverse97@gmail.com</a>
                    <a href="#" class="fot-datos">Whatsapp</a>
                    <a href="#" class="fot-datos">Instagram - Technouniverse97</a>
                </section>
            </main>
        </footer>
    </main>

    <!-- Enlace del JavaScript con html -->
    <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>