<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techno Universe</title>

    <link rel="stylesheet" href="../../css/styles-v-usuario.css">
    <link rel="stylesheet" href="../../css/styles-sociales.css">
    
    <link rel="icon" href="../../img/mi_logo.svg" type="image/x-icon">
    

</head>
<body>
    <main class="root_main">
        <!-- HEAD -->
        <header class="header_main">
            <!-- "Nav" va por obligacion porque es regla para una barra de navegacion -->
            <nav class="nav-bar">
                <div class="nav-bar__content">
                    <!-- LOGO -->
                    <div class="nav-bar__logo-container">
                        <a href="#" class="nav-bar__link-logo">
                            <img src="../../assets/mi_logo.svg" alt="logo no disponible" class="nav-bar__img-logo">
                        </a>
                    </div>
                    <!-- Menu de navegacion de las opciones -->
                    <div class="nav-bar__collapse from-right">
                        <!-- Opciones basicas del menu -->
                        <div class="nav-bar__menu-container">
                            <ul class="menu">
                                <li class="menu__item">
                                    <a href="#" class="menu__link">
                                        Inicio
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">
                                        Sistema
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">
                                        Diseño
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">
                                        Portafolios
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">
                                        Horarios
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link select-option"> 
                                        Contacto
                                    </a>
                                </li>
                            </ul>
                        </div>
                     <!-- Opciones principales login y registro -->
                        <div class="nav-bar__options-container">
                            <a href="#" class="nav-bar__link-login icon-login">Perfil</a>
                            <a href="../login.html" class="nav-bar__link-register icon-register">Cerrar Sesión</a>
                        </div>
                    </div>
                    <!-- Icono del menu -->
                    <div class="nav-bar__icon icon-bars">
                        <img src="../../assets/menu.svg" alt="" class="logo-bar">
                    </div>
                </div>
            </nav>
        </header>
        <!-- HEAD -->
        <!-- BODY -->
        
        <section class="body_container">
            <div class="body_container1">
                <h1 class="title">En Proceso de desarollo...</h1>
                <div class="container_login">
                    <p class="text-titles">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis in harum deserunt sequi, veniam laborum quos repudiandae quo quasi maiores possimus totam ducimus modi aperiam. Quo pariatur voluptas porro aspernatur similique earum dolore autem reprehenderit!</p>
                </div>

                <div class="container_login">
                    <p class="text-titles box_login">Esta area aun esta en desarollo, por favor cierre sesión</p>
                </div>
            </div>
        </section>
        <!-- DIVISOR -->
        <div class="division"></div>
        <!-- DIVISOR -->
        <!-- BODY -->
        <!-- PIE -->
        <footer class="footer_main">
            <main class="main-footer">
                <section class="footer-container">
                    <p class="fot-datos">TechnoUniverse. Empresa Virtual.</p>
                    <p class="fot-datos sop">Soporte:</p>
                    <a href="mailto:technouniverse97@gmail.com" class="fot-datos" target="_blank">technouniverse97@gmail.com</a>
                    <a href="https://wa.me/message/Q36K3PN3LIC5B1" class="fot-datos" target="_blank">Whatsapp</a>
                    <a href="https://instagram.com/technouniverse97?igshid=OGQ5ZDc2ODk2ZA==" class="fot-datos" target="_blank">Instagram - Technouniverse97</a>
                </section>
            </main>
        </footer>
    </main>

    <!-- Enlace del JavaScript con html -->
    <script type="text/javascript" src="../../js/app.js"></script>
</body>
</html>